.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;

  button {
    border: none;
    background-color: #210f1f ;
    color: #ede6e6;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px 0 #b1050b;
    border: 2px solid #b1050b;
    font-weight: 700;
    font-size: 16px;

    &.active {
      background-color: #ef082b;
      color: #fff;
    
    }

  }
}
@media screen and (max-width:500px){
  .pagination {
    
    padding: 15px;
  
    button {
    
      padding: 6px 10px;
      margin: 0 2px;
      font-size: 14px;
  
    }
  } 
  @media screen and (max-width:400px){
    .pagination {
      
      padding: 12px;
    
      button {
      
        padding: 4px 8px;
        margin: 0 2px;
       
        
        font-size: 12px;
    
      
    
      }
    } 
  }
}